  <div class="navbar d-flex align-items-center p-3">
    <div>
      <p><b>Simple Airbnb</b></p>
    </div>
    <div>
      <%= link_to "Add flat", new_flat_path, class: "btn btn-primary" %>
    </div>
  </div>
